.footer {
	margin-top: 2rem;
	padding-bottom: 5rem;
    background: #fff;
    font-size: 0.875rem;

	.footer-wrapper {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	
		@media (min-width: 768px) {
			padding-left: 3rem;
			padding-right: 3rem;
		}
		@media (min-width: 1024px) {
			padding-left: 3.125rem;
			padding-right: 3.125rem;
		}
		@media (min-width: 1280px) {
			padding-left: 7.5rem;
			padding-right: 7.5rem;
		}
		@media (min-width: 1486px) {
			padding-left: 5rem;
			padding-right: 5rem;
		}
	}

	.footer-container {
		padding: 72px 60px 44px;
		border-top: 2px solid #001e50;
		border-bottom: 1px solid #dee1e3;
	}
	
	.footer-links {
		margin-bottom: 26px;

		.footer-links-title {
			font-weight: 700;
			font-size: 1rem;
			line-height: 20px;
			margin-bottom: 32px;
		}

		.footer-about {
			max-width: 300px;
		}
	
		.footer-link {
			font-size: 0.875rem;
			line-height: 16px;
			color: #001e50;
			margin-bottom: 18px;
	
			&:hover{
				color: #0040c5;
	
				.icon {
					fill: #0040c5;
				}
			}
	
			.icon {
				height: 20px;
				width: 20px;
				display: inline-block;
			}
		}
	}

	
	.footer-rights {
		font-size: 1rem;
		line-height: 24px;
		color: #808890;
		margin-top: 72px;
	}
}


