.price-tag-popover {
	border: none;
    right: 5px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 30, 80, 0.2) !important;
    
    .price-value {
        font-size: 1.125rem;
        line-height: 1.278rem;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;

        .price-value-icon {
            margin-left: 1px;
            .icon {
                width: 12px;
                height: 12px;
                fill: #212529;
            }
        }
    }
}

%popover-header {
    padding: 0.75rem !important;
}

@mixin popover-header-theme($color) {
    color: #fff;
    border-color: $color;
    background-color: $color;
}

.popover-header-good {
    @extend %popover-header;
    @include popover-header-theme(rgba(139, 201, 77,1));
}

.popover-header-excellent {
    @extend %popover-header;
    @include popover-header-theme(rgb(94, 153, 35));
}

.popover-header-no {
    @extend %popover-header;
    @include popover-header-theme(#b6b6b6);
}