.catalog-sort {
    padding: 0 0 32px 0px;

    .sort-title {
        margin-right: 16px;
        font-size: 0.875rem;
        line-height: 1rem;
        color: #bdc3c6;
    }

    .sort-item {
        margin-right: 16px;
        padding: 0;
        font-size: 0.875rem;
        line-height: 1rem;
        transition: .15s;
        color: #bdc3c6;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;

        &.active {
            color: #001e50;

            .sort-item-icon .icon {
                opacity: 1;
            }
        }

        .sort-item-icon {
            margin-left: 4px;
            height: 16px;
            width: 16px;

            .icon {
                fill: #001e50;
                height: 16px;
                width: 16px;
                transition: .15s;
                opacity: 0;
            }
        }
    }
}