.catalog-main {
	min-height: calc(100vh - 17px - 3.125rem);
	width: 100%;
	padding-top: 17px;
	padding-bottom: 3.125rem;

	@media (min-width: 768px) {
		padding-bottom: 5rem;
		min-height: calc(100vh - 17px - 5.2rem);
	}

	.catalog-item-list {
		position: relative;

		.list-item {
			padding: 0 32px 20px;
		}
	}

	.catalog-item-list-container {
		margin: 0 -20px;
	}

}