@import './../../scss/abstracts/module';

.catalog-filters {
	width: 100%;
		
	@media (min-width: 1024px) {
		padding-right: 60px;
	}

	.filters-header {

		b {
			font-weight: 700;
		}

		font-weight: 300;
		font-size: 3rem;
		line-height: 3.5rem;
		margin-bottom: 2.5rem;
	}
	.filters-subline {
		font-size: 1rem;
		line-height: 1.5rem;
		margin-bottom: 3rem;
	}
	.filters-choice {
		display: block;
		margin-bottom: 1.5rem;
	}

	.filter-collapses {

		.filter-section {
			border-bottom: 2px solid #dfe4e8;
			padding: 0 0 20px 0;

			&:not(:first-child){
				padding: 20px 0px;
			}
		}
	}
}

.collapse-item 
{
	.trigger {
		.trigger-inner {
			cursor: pointer;
			
			.trigger-text {
				font-size: 1rem;
				line-height: 20px;
				font-weight: 600;
			}
			.trigger-icon {
				font-size: 13px;
				width: 20px;
				height: 13px;
			}
			&[aria-expanded=true] .trigger-icon .icon {
				display: inline-block;
				@include transform(rotate(180deg));
			}
		}
	}
	
	.content {
		.content-inner {
			padding: 15px 0 0 0;
		}
	}
}

.checkbox-group {

	&:not(:first-child){
		margin-top: 0.625rem;
	}

	.checkbox-group-title {
		display: block;
		font-size: 0.875rem;
		line-height: 1rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.checkbox-list-item {
		margin-bottom: 0.625rem;
	}
}