.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;

    .header-top {
        width: 100%;
        height: 54px;
        padding: 0 60px;
        background-color: #fff;
    }

    .header-logo {
        position: absolute;
        bottom: -74px;
        left: calc(50% - 75px);
        padding: 0 12px;
        z-index: 1;
        transition: .6s cubic-bezier(1,0,0,1); 

        @media (min-width: 1024px) {
            left: 59%;
        }

        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            width: 100vw;
            height: 2px;
            background-color: #001e50;
            right: -100vw;
        }

        &::before {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            width: 100vw;
            height: 2px;
            background-color: #001e50;
            left: -100vw;
        }

        &.center {
            left: calc(50% - 75px);
        }

        .icon {
            height: 150px;
            width: 150px;
        }
    }

    .header-tray {
        position: absolute;
        width: 100vw;
        height: 40px;
        bottom: -40px;
        left: 0;
        background-color: #fff;
        z-index: -1;
        transition: bottom .6s cubic-bezier(1,0,0,1);
    }
}