// Contains global mixins, functions, helper selectors, etc
@import 'abstracts/module';
// Contains global styles, such as resets, typography, colors, etc.
@import 'base/module';
// Contains styling for larger layout components; e.g. nav, header, footer, etc.
@import 'layout/module';
// Contains each self-contained component in its own .scss partial
@import 'components/module';


.catalog {
	.catalog-inner {
		min-height: 100vh;
		width: 100%;
		padding-top: 17px;
		padding-bottom: 3.125rem;

		@media (min-width: 768px) {
			padding-bottom: 5rem;
		}

		.catalog-sort {
			padding: 0 0 32px 0px;

			.sort-title {
				margin-right: 16px;
				font-size: 0.875rem;
				line-height: 1rem;
				color: #bdc3c6;
			}

			.sort-item {
				margin-right: 16px;
				padding: 0;
				font-size: 0.875rem;
				line-height: 1rem;
				transition: .15s;
				color: #bdc3c6;
				border: none;
				outline: none;
				background-color: transparent;
				cursor: pointer;

				&.active {
					color: #001e50;
				}
			}
		}

		.catalog-item-list-container {
			margin: 0 -32px;
		}

		.catalog-item {
			padding: 0 32px 20px;
			min-height: 460px;

			.catalog-item-body {
				padding: 32px 0 0 0;

				.price-value {
					font-size: 1.125rem;
					line-height: 1.278rem;
					font-weight: 600;
					font-family: 'Roboto', sans-serif;

					.price-value-icon {
						margin-left: 1px;
						.icon {
							width: 12px;
							height: 12px;
							fill: #001e50;
						}
					}
				}
			
				.region-text {
					font-size: 0.75rem;
					line-height: 16px;
					padding-left: 4px;
					text-align: left;
					display: inline-block;
				}

				.region-icon {
					.icon {
						width: 0.75rem;
						height: 0.75rem;
						fill: #001e50;
					}

				}

				.car-specs {
					border-top: 1px solid #bdc3c6;
					padding: 16px 0;
					margin-bottom: 10px;

					.specs-item-icon {
						margin-right: 5px;

						.icon {
							width: 24px;
							height: 24px;
							vertical-align: middle;
							fill: #001e50;
						}
					}
				}
			}
			
		}

		.catalog-pagination {
			margin-top: 1.5rem;
		}
	}
}