<div className="filter-section">
    <CollapseItem target="tech-filter" title="Тех. характеристики">
        <div className="checkbox-group">
            <span className="checkbox-group-title">Тип топлива</span>
            <div className="checkbox-list">
                <div className="row">
                    <div className="checkbox-list-item col-12 col-md-6 col-lg-12">
                        <label className="checkbox path d-flex align-items-center">
                            <input type="checkbox" />
                            <svg viewBox="0 0 21 21">
                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                            </svg>
                            <span className="checkbox-title">Бензиновый</span>
                        </label>
                    </div>
                    <div className="checkbox-list-item col-12 col-md-6 col-lg-12">
                        <label className="checkbox path d-flex align-items-center">
                            <input type="checkbox" />
                            <svg viewBox="0 0 21 21">
                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                            </svg>
                            <span className="checkbox-title">Дизельный</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div className="checkbox-group">
            <span className="checkbox-group-title">Тансмиссия</span>
            <div className="checkbox-list">
                <div className="row">
                    <div className="checkbox-list-item col-12 col-md-6 col-lg-12">
                        <label className="checkbox path d-flex align-items-center">
                            <input type="checkbox" />
                            <svg viewBox="0 0 21 21">
                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                            </svg>
                            <span className="checkbox-title">АКП</span>
                        </label>
                    </div>
                    <div className="checkbox-list-item col-12 col-md-6 col-lg-12">
                        <label className="checkbox path d-flex align-items-center">
                            <input type="checkbox" />
                            <svg viewBox="0 0 21 21">
                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                            </svg>
                            <span className="checkbox-title">МКП</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div className="checkbox-group">
            <span className="checkbox-group-title">Привод</span>
            <div className="checkbox-list">
                <div className="row">
                    <div className="checkbox-list-item col-12 col-md-6 col-lg-12">
                        <label className="checkbox path d-flex align-items-center">
                            <input type="checkbox" />
                            <svg viewBox="0 0 21 21">
                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                            </svg>
                            <span className="checkbox-title">Передний привод</span>
                        </label>
                    </div>
                    <div className="checkbox-list-item col-12 col-md-6 col-lg-12">
                        <label className="checkbox path d-flex align-items-center">
                            <input type="checkbox" />
                            <svg viewBox="0 0 21 21">
                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                            </svg>
                            <span className="checkbox-title">Задний привод</span>
                        </label>
                    </div>
                    <div className="checkbox-list-item col-12 col-md-6 col-lg-12">
                        <label className="checkbox path d-flex align-items-center">
                            <input type="checkbox" />
                            <svg viewBox="0 0 21 21">
                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                            </svg>
                            <span className="checkbox-title">Полный привод</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </CollapseItem>
</div>