.main-wrapper {
	margin-top: 100px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;

	@media (min-width: 768px) {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	@media (min-width: 1024px) {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
	}
	@media (min-width: 1280px) {
		padding-left: 7.5rem;
        padding-right: 7.5rem;
	}
	@media (min-width: 1486px) {
        padding-left: 5rem;
        padding-right: 5rem;
	}
}