@import './../../../scss/abstracts/module';

.toggle_switch {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    cursor: pointer;

    &:not(:last-child){
        margin-bottom: 8px;
    }

    &__label {
        width: 100%;
    }

    &__label-text {
        color: #2f3538;
        font-size: .875rem;
        line-height: 1.572;
        letter-spacing: 0;
        @include user-select(none);
    }

    &__input {
        position: absolute;
        left: -9999px;

        &:checked+.toggle_switch__presentation .toggle_switch__states {
            background-color: #001e50;
            border-color: #001e50;
        }

        &:checked+.toggle_switch__presentation .toggle_switch__states:hover .toggle_switch__state {
            background-color: #0040c5;
        }

        &:checked+.toggle_switch__presentation .toggle_switch__state {
            -webkit-transform: translateX(32px);
            transform: translateX(32px);
            width: 14px;
            height: 14px;
            background-color: #fff;
            top: 3px;
        }
    }

    &__presentation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        cursor: pointer;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &__states {
        display: inline-block;
        height: 24px;
        width: 60px;
        border: 2px solid #001e50;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        background-color: #fff;
        margin-right: 12px;

        &:hover .toggle_switch__state {
            background-color: #0040c5;
        }
    }

    &__state {
        float: left;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        position: absolute;
        left: 6px;
        top: 4px;
        background-color: #fff;
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out, -webkit-transform .3s ease-out;
        will-change: transform;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        background-color: #001e50;
        -webkit-transition: .1s;
        transition: .1s;
    }
}
