@import './../../../../scss/abstracts/module';

%price-tag {
    padding: 4px 8px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 0.75rem;
    line-height: 1rem;
    z-index: 99;
    cursor: pointer;
    @include user-select(none);
}

@mixin price-tag-theme($text-color, $color) {
    color: $text-color;
    border-color: $color;
    background-color: $color;
}

.price-tag-good {
    @extend %price-tag;
    @include price-tag-theme(#fff, rgba(139, 201, 77,1));
}

.price-tag-excellent {
    @extend %price-tag;
    @include price-tag-theme(#fff, rgb(94, 153, 35));
}

.price-tag-no {
    @extend %price-tag;
    @include price-tag-theme(#fff, #b6b6b6);
}