#error {
    position: relative;
    height: 100vh;

    .error-container {
        position: absolute;
        width: 100%;
        max-width: 767px;
        line-height: 1.4;
        text-align: center;
        padding: 15px;
    }

    .error-code {
        font-family: 'Kanit', sans-serif;
        font-size: 186px;
        font-weight: 200;
        margin: 0px;
        background: linear-gradient(130deg, #0f4a8d, #001e50);
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
        text-transform: uppercase;
    }
    
    .error-reason {
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        font-size: 33px;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 25px;
        letter-spacing: 3px;
    }
    
    .error-text {
        font-family: 'Kanit', sans-serif;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 25px;

        .error-home-link {
            margin-left: 5px;
            font-family: 'Kanit', sans-serif;
            color: #0f4a8d;
            font-weight: 200;
            text-decoration: none;
            border-bottom: 1px dashed #0f4a8d;
            border-radius: 2px;
        }
    }
}
    
@media only screen and (max-width: 480px) {
    .error-container .error-code {
        font-size: 142px;
    }
  
    .error-container .error-reason {
        font-size: 22px;
    }
}