.catalog-item-container {
    padding: 0 20px 40px 20px;
    height: 100%;
}

.catalog-item {
    position: relative;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    cursor: pointer;    
    transition: all .2s ease;

    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 30, 80, 0.2) !important;
    }
    
    .catalog-item-img {
        width: 100%;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .catalog-item-body {
        padding: 32px 20px 20px;

        .item-title {
            height: 2.5rem;
            font-size: 1.125rem;
            line-height: 1.278rem;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
        }

        .price-info {
            min-height: 26px; 
        }

        .price-value {
            font-size: 1.125rem;
            line-height: 1.278rem;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;

            .price-value-icon {
                margin-left: 1px;
                .icon {
                    width: 12px;
                    height: 12px;
                    fill: #212529;
                }
            }
        }
    
        .region-text {
            font-size: 0.75rem;
            line-height: 16px;
            padding-left: 4px;
            text-align: left;
            display: inline-block;
        }

        .region-icon {
            .icon {
                width: 0.75rem;
                height: 0.75rem;
                fill: #001e50;
            }

        }

        .car-specs {
            padding: 16px 0;
            font-size: 0.875rem;

            .specs-item {
                margin-bottom: 5px;
            }

            .specs-item-icon {
                margin-right: 10px;

                .icon {
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                    fill: #001e50;
                }
            }
        }
    }
}