@import "node_modules/bootstrap-select/sass/variables.scss";
@import "node_modules/bootstrap-select/sass/bootstrap-select.scss";

.bootstrap-select {
    box-shadow: none !important;

    .dropdown-toggle {
        box-shadow: none !important;
        border: none;
        border-bottom: 1px solid #dee1e3;
        background-color: #fff;
        border-radius: 0px;

        &:focus {
            outline: none !important;
        }
    }

    .dropdown-menu {
        border-radius: 1px;
    }

    .dropdown-item {
        outline: none !important;
    }

}