.filters {

	.filters-header {
		font-weight: 300;
		font-size: 3rem;
		line-height: 3.5rem;
		margin-bottom: 2.5rem;
	}
	.filters-subline {
		font-size: 1rem;
		line-height: 1.5rem;
		margin-bottom: 3rem;
	}
	.filters-choice {
		display: block;
		margin-bottom: 1.5rem;
	}

    .filters-inner {
        width: 100%;
			
		@media (min-width: 1024px) {
			padding-right: 60px;
		}

        .filter-collapses {

            .filter-section {
				border-bottom: 2px solid #dfe4e8;
				padding: 0 0 20px 0;

				&:not(:first-child){
					padding: 20px 0px;
				}
            }
        }
    }
}

.collapse-item 
{
	.trigger {
		.trigger-inner {
			cursor: pointer;
			
			.trigger-text {
				font-size: 1rem;
				line-height: 20px;
				font-weight: 600;
			}
			.trigger-icon {
				font-size: 13px;
				width: 20px;
				height: 13px;
			}
			&.collapsed .trigger-icon .icon {
				display: inline-block;
				@include transform(rotate(180deg));
			}
		}
	}
	
	.content {
		.content-inner {
			padding: 15px 0 0 0;
		}
	}
}

.checkbox-group {

	&:not(:first-child){
		margin-top: 0.625rem;
	}

	.checkbox-group-title {
		display: block;
		font-size: 0.875rem;
		line-height: 1rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.checkbox-list-item {
		margin-bottom: 0.625rem;
	}
}

.price-input-inner-self {
	border: none;
    outline: none;
    font-size: 14px;
}

.price-input-from, .price-input-to {
	width: calc(50% - 8px);
    border-bottom: 1px solid #dee1e3;
    color: #001e50;
}

.price-input-inner {
	padding: 12px 8px 8px 9px;
}
