.page-item {
    margin-right: 4px;

    &:focus {
        outline: none !important;
    }

    &.active {
        .page-link {
            color: #212529;
            background-color: transparent;
            border: 1px solid #001e50;
        }
    }

    .page-link {
        border-bottom: 1px solid #dfe4e8;
        padding: 0.4rem 0.75rem;
        color: #212529;
        @include transition(border-color ease-out 0.2s);

        &:hover {
            background-color: transparent;
            border: 1px solid rgb(165, 162, 206);
        }

        &:focus {
            box-shadow: none !important;
        }
    }
}