%price-tag {
    padding: 4px 8px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 0.75rem;
	line-height: 1rem;
	cursor: pointer;
}

@mixin price-tag-theme($color, $border-color) {
    color: $color;
    border-color: $border-color;
    background-color: transparent;
}


.price-tag-bad {
    @extend %price-tag;
    @include price-tag-theme(rgba(238, 77, 77, 1), rgba(238, 77, 77, 1));
}

.price-tag-no {
    @extend %price-tag;
    @include price-tag-theme(rgba(162, 173, 184, 1), rgba(162, 173, 184, 1));
}

.price-tag-good {
    @extend %price-tag;
    @include price-tag-theme(rgba(139, 201, 77,1), rgba(139, 201, 77, 1));
}

.price-tag-excellent {
    @extend %price-tag;
    @include price-tag-theme(rgba(125, 181, 69,1), rgba(125, 181, 69, 1));
}