@import './../../../scss/abstracts/module';

.catalog-item-list-loader-underlay {
	@include transition(all ease-out 0.2s);
	position: absolute; 
	left:0; 
	right:0; 
	top:0; 
	bottom:0; 
	z-index: 1;
	background-color: rgba($color: #fff, $alpha: 0.9);

	.catalog-item-list-loader {
		position: absolute;
		left: 45%;
		top: 150px;
		z-index: 2;
	}
}


.car {
    width: 122px;
	height: 47px;

	&__body {
		animation: shake 0.2s ease-in-out infinite alternate;
	}
	
	&__line {
		transform-origin: center right;
		stroke-dasharray: 22;
		animation: line 0.8s ease-in-out infinite;
		animation-fill-mode: both;
		
		&--top {
			animation-delay: 0s;
		}
		
		&--middle {
			animation-delay: 0.2s;
		}
		
		&--bottom {
			animation-delay: 0.4s;
		}
	}
}

@keyframes shake {
	0% {
		transform: translateY(-1%);
	}
	100% {
		transform: translateY(3%);
	}
}

@keyframes line {
	0% {
		stroke-dashoffset: 22;
	}
	
	25% {
		stroke-dashoffset: 22;
	}
	
	50% {
		stroke-dashoffset: 0;
	}
	
	51% {
		stroke-dashoffset: 0;
	}
	
	80% {
		stroke-dashoffset: -22;
	}
	
	100% {
		stroke-dashoffset: -22;
	}
}
